table.list {
	border-collapse: collapse;

}
table.list thead{
	background-color: #eee;
}
table.list tr td {
	border: 1px solid #333;
	padding: 3px;
}
table.list tr td:last-of-type span {
	text-decoration: underline;
	cursor: pointer
}
table.list tr td:last-of-type span:hover{
	text-decoration: none;
}
table.list tr td:last-of-type span.green{
	color: green
}
.tools{
	background-color: #eee;
	padding: 5px;
	margin-bottom: 1rem;
}
.tools >span {
	position: relative;
	cursor: pointer;
}

.tools >span:after{
	content: '⇵';
	position: absolute;
	top: 2px;
	right: -20px
}
.tools >span.asc:after{
	content: '↑';
	color: red
}
.tools >span.desc:after{
	content: '↓';
	color: red
}
.tools >span:hover {
	color: red
}

section{
	display: flex;
	justify-content: space-between;
}
aside form fieldset{
	border-color: #fff;
}
aside form input{
	display: block;
	margin-bottom: 1rem;
	padding: 5px;
}
aside form input[type="text"]{
  border: none;
  border-bottom: 1px solid #959595;
  padding-left: 0;
}
aside form input[type="text"]:focus{
  outline: none;
  background-color: #eee;
}
aside form input:last-of-type{
	margin-bottom: 0;
}

.navlinks a{
  color: #333;
}
.navlinks a.active {
  text-decoration: none;
  color: red
}